<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaMake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/parasiteweb.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
              <li class="active"><a href="#">WebMaster</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

		<div class="container">
			<div class="row">
				<form method="post" class="form-horizontal">
					<fieldset>
						<div class="span6">
		        	<!-- 登録済みリスト -->
							<legend>寄生体リスト</legend>
			        <table class="table table-striped">
		    			<thead>
		      			<tr>
		       				<th>#</th>
		        			<th>寄生体</th>
		          		<th>名前</th>
		        		</tr>
		      		</thead>
		      		<tbody>
						    {% for class in classes %}
								<tr>
									<td> {{ class.parasiteNumber }} </td>
									<td> {{ class.parasiteName }}</td>
									<td> {{ class.parasiteClassName }} </td>
									<td>
										<button class="btn btn-primary btn-mini" name="load" value="{{ class.key }}">load</button>
										<button class="btn btn-danger btn-mini" name="delete" value="{{ class.key }}">delete</a>
									</td>
								</tr>
						    {% endfor %}
			      		</tbody>
							</table>	      
			      </div><!--/span-->
		    	  <div class="span6">
							<!-- 登録フォーム -->
		          	<legend>キャラクター作成フォーム</legend>
		          	<!-- 名前、年齢、性別 -->
		          	<div class="control-group">
			            <label class="control-label" for="parasiteName">Number</label>
									<div class="controls">
										<input type="text" class="input-xlarge" name="parasiteNumber" id="parasiteNumber" placeholder='{{ temp }}' value='{{ rewrite.parasiteNumber}}'/>
									</div>
		           	</div>
		          	<div class="control-group">
			            <label class="control-label" for="parasiteName">寄生体名</label>
									<div class="controls">
										<input type="text" class="input-xlarge" name="parasiteName" id="parasiteName" placeholder='' value='{{ rewrite.parasiteName}}'/>
									</div>
		           	</div>
								<div class="control-group">
									<label class="control-label" for="patasiteClassName">クラス名</label>
									<div class="controls">
										<input type="text" class="input-xlarge" name='parasiteClassName' id='parasiteClassName' placeholder='' value='{{ rewrite.parasiteClassName}}'/>
									</div>
								</div>
								<div class="control-group">
								  <label class="control-label" for="optionsCharaSex">能力修正</label>
									<div class="controls">
										<table class="table table-striped">
											<thead>
												<tr><th>肉体</th><th>俊敏</th><th>感覚</th><th>幸運</th><th>知力</th><th>精神</th></tr>
											</thead>
											<tbody>
												<tr>
													<td><input type="text" class="span1" name='powOffset' id='powOffset' value='{{ rewrite.powOffset}}'></td>
													<td><input type="text" class="span1" name='agiOffset' id='agiOffset' value='{{ rewrite.agiOffset}}'></td>
													<td><input type="text" class="span1" name='senOffset' id='senOffset' value='{{ rewrite.senOffset}}'></td>
													<td><input type="text" class="span1" name='lucOffset' id='lucOffset' value='{{ rewrite.lucOffset}}'></td>
													<td><input type="text" class="span1" name='intOffset' id='intOffset' value='{{ rewrite.intOffset}}'></td>
													<td><input type="text" class="span1" name='mntOffset' id='mntOffset' value='{{ rewrite.mntOffset}}'></td>
												</tr>
						      		</tbody>
										</table>
									</div>
								</div>
								<div class="control-group">
								  <label class="control-label">戦闘修正</label>
									<div class="controls">
										<table class="table table-striped">
											<thead>
												<tr><th>肉弾D</th><th>肉弾防</th><th>射撃D</th><th>射撃防</th><th>特殊D</th><th>特殊防</th></tr>
						      		</thead>
											<tbody>
												<tr>
													<td><input type="text" class="span1" name='physAtk' id='physAtk' value='{{ rewrite.physAtk}}'></td>
													<td><input type="text" class="span1" name='physDef' id='physDef' value='{{ rewrite.physDef}}'></td>
													<td><input type="text" class="span1" name='shotAtk' id='shotAtk' value='{{ rewrite.shotAtk}}'></td>
													<td><input type="text" class="span1" name='shotDef' id='shotDef' value='{{ rewrite.shotDef}}'></td>
													<td><input type="text" class="span1" name='specAtk' id='specAtk' value='{{ rewrite.specAtk}}'></td>
													<td><input type="text" class="span1" name='specDef' id='specDef' value='{{ rewrite.specDef}}'></td>
												</tr>
						      		</tbody>
										</table>
									</div>
								</div>
		
								<div class="control-group">
									<label class="control-label">行動修正</label>
									<div class="controls">
										<input type="text" class="input-xlarge" name='actOffset' id='actOffset' value='{{ rewrite.actOffset }}'>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">追加エナジー</label>
									<div class="controls">
										<input type="text" class="input-xlarge" name='eneOffset' id='eneOffset' value='{{ rewrite.eneOffset }}'>
									</div>
								</div>
								<div class="control-group">
								  <label class="control-label">進化先サブネーム</label>
									<div class="controls">
										<table class="table table-striped">
											<thead>
												<tr><th>A</th><th>B</th></tr>
						      		</thead>
											<tbody>
												<tr>
													<td><input type="text" class="" name='highClassA' id='highClassA' value='{{ rewrite.highClassA }}'></td>
													<td><input type="text" class="" name='highClassB' id='highClassB' value='{{ rewrite.highClassB }}'></td>
												</tr>
						      		</tbody>
										</table>
									</div>
								</div>
		
								<!-- next-->
								<div class="form-actions">
									<button type="submit" class="btn btn-primary" name="add" onclick="distinct_button('next')">save</button>
								</div>
						</div>
					</fieldset>
				</form>
      </div><!--/row-->
		</div><!-- container -->

		<hr>
		<footer>
		  <p>&copy; Company 2012</p>
		</footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/jquery.validation.functions.js"></script>
    <script type="text/javascript" src="/js/parasiteweb.js"></script>
    <script type="text/javascript" src="/js/charamake_base.js"></script>

  </body>
</html>