<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaMake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/parasiteweb.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="/"><i class="icon-book"></i>Home</a></li>
              <li class="active"><a href="#"><i class="icon-pencil"></i>new</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
       	    <form method="post" class="form-horizontal">
    	    <fieldset>
	          	<legend>キャラクター作成フォーム</legend>
	          	<ul class="nav nav-pills">
					<li><div>１</div></li>
					<li class="active"><div>2</div></li>
					<li><div>3</div></li>
				</ul>
				<h3>元値</h3>
			    <div class="row">
					<div class="offset6 span3 align-right">
					</div>
				</div>
			    <div class="row parameterInput">
			    	<div class="span3">
			    		<div class="row parameterInput-group">
					    	<div class="span1">肉体</div>
					    	<div class="span2">
		   						<select name="selectpow" class="original span2" id="selectpow"></select>
							</div>
			    		</div>
			    	</div>
			    	<div class="span3">
			    		<div class="row parameterInput-group">
					    	<div class="span1">機敏</div>
					    	<div class="span2">			    		
		   						<select name="selectagi" class="original span2" id="selectagi"></select>
							</div>
			    		</div>
			    	</div>
			    	<div class="span3">
			    		<div class="row parameterInput-group">
					    	<div class="span1">感覚</div>
					    	<div class="span2">			    		
		   						<select name="selectfeal" class="original span2" id="selectfeal"></select>
							</div>
			    		</div>
			    	</div>
			    </div>
			    <div class="row parameterInput">
			    	<div class="span3">
			    		<div class="row parameterInput-group">
					    	<div class="span1">幸運</div>
					    	<div class="span2">			    		
		   						<select name="selectluc" class="original span2" id="selectluc"></select>
							</div>
			    		</div>
			    	</div>
			    	<div class="span3">
			    		<div class="row parameterInput-group">
					    	<div class="span1">知力</div>
					    	<div class="span2">			    		
		   						<select name="selectint" class="original span2" id="selectint"></select>
							</div>
			    		</div>
			    	</div>
			    	<div class="span3">
			    		<div class="row parameterInput-group">
					    	<div class="span1">精神</div>
					    	<div class="span2">			    		
		   						<select name="selectment" class="original span2" id="selectment"></select>
							</div>
			    		</div>
			    	</div>
			    </div>
			    <div>
					<div class="btn btn-mini btn-inverse" id="roleall">一括ロール</div>
			    </div>
			    <hr />


				<h3>技能</h3>
			    <div class="row">
			    	<div class="span3">
				    	<h4>肉体技能</h4>
				    	<table class="table">
				    		<tr>
					    		<td>肉弾</td><td><select name="selectPunchSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>剛力</td>
					    		<td><select name="selectPowerSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>登攀</td>
					    		<td><select name="selectClimeSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>水泳</td>
					    		<td><select name="selectSwimSkill" class="skillLv span2"></select></td>
				    		</tr>
				    	</table>
			    	</div>
			    	<div class="span3">
				    	<h4>機敏技能</h4>
				    	<table class="table">
				    		<tr>
					    		<td>運動</td>
					    		<td><select name="selectExerciseSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>隠密</td>
					    		<td><select name="selectHideSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>運転</td>
					    		<td><select name="selectDriveSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>操作</td>
					    		<td><select name="selectOperateSkill" class="skillLv span2"></select></td>
				    		</tr>
				    	</table>
			    	</div>
			    	<div class="span3">
				    	<h4>感覚技能</h4>
				    	<table class="table">
				    		<tr>
					    		<td>射撃攻撃</td>
					    		<td><select name="selectShotSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>意思疎通</td>
					    		<td><select name="selectComunicationSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>知覚</td>
					    		<td><select name="selectNoticeSkill" class="skillLv span2"></select></td>
				    		</tr>
				    	</table>
					</div>
			    </div>
			    <div class="row">
			    	<div class="span3">
				    	<h4>幸運技能</h4>
				    	<table class="table">
				    		<tr>
					    		<td>直感</td>
					    		<td><select name="selectIntuitionSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>賭博</td>
					    		<td><select name="selectGambleSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>交渉</td>
					    		<td><select name="selectNegotiateSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>社会</td>
					    		<td><select name="selectSociabilitySkill" class="skillLv span2"></select></td>
				    		</tr>
				    	</table>
					</div>
			    	<div class="span3">
				    	<h4>知力技能</h4>
				    	<table class="table">
				    		<tr>
					    		<td>特殊攻撃</td>
					    		<td><select name="selectSpecialSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>応急手当</td>
					    		<td><select name="selectTreatSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>情報技術</td>
					    		<td><select name="selectITSkill" class="skillLv span2"></select></td>
				    		</tr>
				    	</table>
			    	</div>
			    	<div class="span3">
				    	<h4>精神技能</h4>
				    	<table class="table">
				    		<tr>
					    		<td>礼儀</td>
					    		<td><select name="selectJentleSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>統率</td>
					    		<td><select name="selectLeadingSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>尋問</td>
					    		<td><select name="selectQuestionSkill" class="skillLv span2"></select></td>
				    		</tr>
				    		<tr>
					    		<td>魅了</td>
					    		<td><select name="selectCharmSkill" class="skillLv span2"></select></td>
				    		</tr>
				    	</table>
					</div>
			    </div>
	   		    <div id="artskill">
		   		    <div class="row artrow">
						<div class="span1">芸術</div>
						<div class="span4">
							<div class="input-prepend">
			   					<span class="add-on">芸術：</span>
								<input name="prependedInputArt1" size="16" type="text">
		          			</div>
						</div>
						<div class="span1"><select name="selectArtSkill1" class="skillLv span1"></select></div>
						<div class="span1"><span class="btn btn-success" id="addArtSkill">+</span></div>
		   		    </div>
	   		    </div>
	   		    <div id="knowledgeSkill">
		   		    <div class="row knowledgerow">
						<div class="span1">知識</div>
						<div class="span4">
							<div class="input-prepend">
			   					<span class="add-on">知識：</span>
								<input name="prependedInputKnowledge1" size="16" type="text">
		          			</div>
						</div>
						<div class="span1"><select name="selectKnowledgeSkill1" class="skillLv span1"></select></div>
						<div class="span1"><span class="btn btn-success" id="addKnowledgeSkill">+</span></div>
		   		    </div>
	   		    </div>

	        	<input type="hidden" name="page" value="skill">
		        <input type="hidden" name="key" value="{{ sheet.key }}">
		        <!-- next-->
				<div class="form-actions">
					<button type="submit" class="btn btn" name="command" value="back" onclick="distinct_button('back')">Back</button>
					<button type="submit" class="btn btn-primary" name="command" value="next" onclick="distinct_button('next')">Next</button>
		 			<div class="pull-right">
						<button type="submit" class="btn btn" name="command" value="cancel" onclick="distinct_button('cancel')">Cancel</button>
		 			</div>
		 			<div style="clear:both;"></div>
		 		</div>
			</fieldset>
			</form> 
      	</div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate_modify.js"></script>
    <script type="text/javascript" src="/js/jquery.validation.functions.js"></script>
    <script type="text/javascript" src="/js/charamake_skill.js"></script>
  </body>
</html>