<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaEdit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/parasiteweb.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="/"><i class="icon-book"></i>Home</a></li>
              <li><a href="#"><i class="icon-pencil"></i>New</a></li>
              <li class="divider"></li>
              <li class="active"><a href="#"><i class="icon-pencil"></i>Edit</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9"><!-- キャラシート作成フォーム -->
	    <form method="post" class="form-horizontal">
          	<legend>キャラクターを成長させる</legend>
		    <fieldset>

			<!-- 確認 -->
			<h3>基礎情報</h3>
			<table class="table table-striped table-condensed">
    			<thead>
	      			<tr><th>項目</th><th>設定</th></tr>
        		</thead>
        		<tbody>
				    <tr><td>名前</td><td>{{ sheet.name }}</td></tr>
				    <tr><td>年齢</td><td>{{ sheet.age }}</td></tr>
				    <tr><td>性別</td><td>{{ sheet.sex }}</td></tr>
				    <tr><td>種族</td><td>{{ sheet.species }}</td></tr>
				    <tr><td>メイン寄生体</td><td>{{ sheet.parasite }}</td></tr>
				    <tr><td>Lv</td><td>{{ demonic.level }}</td></tr>
        		</tbody>
			</table>
			<hr />
	
			<h3>寄生体</h3>
			<div class="row">
				<div class="span4">
					<h4>メイン寄生体</h4>
					<select name="selectMainParasite" id="selectMainParasite">
						<option value="0">--</option>
					    {% for class in demonic.highClasses %}
					    <option value="{{ class }}">{{ class.name }}</option>
					    {% endfor %}

					</select>
					<h6>成長経路</h6>
					<table class="table table-striped table-condensed">
		        		<tbody>
						    {% for name in sheet.evolutionRouteMain %}
						    <tr><td>{{ name }}</td></tr>
						    {% endfor %}
		        		</tbody>
					</table>
				</div>
				<div class="offset1 span4">
					<h4>サブ寄生体</h4>
					<select name="selectSubParasite" id="selectSubParasite">
						<option value="0">--</option>
					    {% for class in demonic.subClasses %}
					    <option value="{{ class }}">{{ class.name }}</option>
					    {% endfor %}
					</select>
					<h6>成長経路</h6>
					<table class="table table-striped table-condensed">
		        		<tbody>
						    {% for name in sheet.evolutionRouteSub %}
						    <tr><td>{{ name }}</td></tr>
						    {% endfor %}
		        		</tbody>
					</table>
				</div>
			</div>
			
			<hr />			
			<h3>能力</h3>
		    <div class="row parameterInput">
		    	<div class="span3">
		    		<div class="row parameterInput-group">
				    	<div class="span1">肉体</div>
				    	<div class="span2">
	   						<select name="selectpow" class="original span2" id="selectpow"></select>
						</div>
		    		</div>
		    	</div>
		    	<div class="span3">
		    		<div class="row parameterInput-group">
				    	<div class="span1">機敏</div>
				    	<div class="span2">			    		
	   						<select name="selectagi" class="original span2" id="selectagi"></select>
						</div>
		    		</div>
		    	</div>
		    	<div class="span3">
		    		<div class="row parameterInput-group">
				    	<div class="span1">感覚</div>
				    	<div class="span2">			    		
	   						<select name="selectsen" class="original span2" id="selectsen"></select>
						</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="row parameterInput">
		    	<div class="span3">
		    		<div class="row parameterInput-group">
				    	<div class="span1">幸運</div>
				    	<div class="span2">			    		
	   						<select name="selectluc" class="original span2" id="selectluc"></select>
						</div>
		    		</div>
		    	</div>
		    	<div class="span3">
		    		<div class="row parameterInput-group">
				    	<div class="span1">知力</div>
				    	<div class="span2">			    		
	   						<select name="selectint" class="original span2" id="selectint"></select>
						</div>
		    		</div>
		    	</div>
		    	<div class="span3">
		    		<div class="row parameterInput-group">
				    	<div class="span1">精神</div>
				    	<div class="span2">			    		
	   						<select name="selectmnt" class="original span2" id="selectmnt"></select>
						</div>
		    		</div>
		    	</div>
		    </div>

			<table class="table table-striped table-condensed">
    			<thead>
	      			<tr><th>能力値</th><th>肉体</th><th>俊敏</th><th>感覚</th><th>幸運</th><th>知力</th><th>精神</th></tr>
        		</thead>
        		<tbody>
				    <tr><td>通常時</td><td>{{ sheet.powOriginal|convertOri2Sta }}</td><td>{{ sheet.agiOriginal|convertOri2Sta }}</td><td>{{ sheet.senOriginal|convertOri2Sta }}</td><td>{{ sheet.lucOriginal|convertOri2Sta }}</td><td>{{ sheet.intOriginal|convertOri2Sta }}</td><td>{{ sheet.mntOriginal|convertOri2Sta }}</td></tr>
				    <tr><td>悪魔化時</td><td>{{ sheet.powOriginal|calcDemonicSta:demonic.powOffset }}</td><td>{{ sheet.agiOriginal|calcDemonicSta:demonic.agiOffset }}</td><td>{{ sheet.senOriginal|calcDemonicSta:demonic.senOffset }}</td><td>{{ sheet.lucOriginal|calcDemonicSta:demonic.lucOffset }}</td><td>{{ sheet.intOriginal|calcDemonicSta:demonic.intOffset }}</td><td>{{ sheet.mntOriginal|calcDemonicSta:demonic.mntOffset }}</td></tr>
        		</tbody>
			</table>
			<table class="table table-striped table-condensed">
    			<thead>
	      			<tr><th></th><th>肉体D</th><th>肉体防御力</th><th>射撃D</th><th>射撃防御力</th><th>特殊D</th><th>特殊防御力</th></tr>
        		</thead>
        		<tbody>
				    <tr><td>戦闘修正</td><td id="battleBodyAttack"></td><td id="battleBodyGuard"></td><td id="battleShotAttack"></td><td id="battleShotGuard"></td><td id="battleSpecialAttack"></td><td id="battleSpecialGuard"></td></tr>
        		</tbody>
			</table>

			<hr />
			<h3>技能</h3>
		    <div class="row">
		    	<div class="span3">
			    	<h4>肉体技能</h4>
			    	<table class="table">
			    		<tr>
				    		<td>肉弾</td><td><select name="selectPunchSkill" class="skillLv span2" id="selectPunchSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>剛力</td>
				    		<td><select name="selectPowerSkill" class="skillLv span2" id="selectPowerSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>登攀</td>
				    		<td><select name="selectClimeSkill" class="skillLv span2" id="selectClimeSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>水泳</td>
				    		<td><select name="selectSwimSkill" class="skillLv span2" id="selectSwimSkill"></select></td>
			    		</tr>
			    	</table>
		    	</div>
		    	<div class="span3">
			    	<h4>感覚技能</h4>
			    	<table class="table">
			    		<tr>
				    		<td>射撃攻撃</td>
				    		<td><select name="selectShotSkill" class="skillLv span2" id="selectShotSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>意思疎通</td>
				    		<td><select name="selectComunicationSkill" class="skillLv span2" id="selectComunicationSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>知覚</td>
				    		<td><select name="selectNoticeSkill" class="skillLv span2" id="selectNoticeSkill"></select></td>
			    		</tr>
					    {% for artSkill in artSkills %}
			    		<tr><td>芸術：{{artSkill.name}}</td><td>{{ artSkill.level }}</td></tr>
					    {% endfor %}
			    	</table>
				</div>
		    	<div class="span3">
			    	<h4>知力技能</h4>
			    	<table class="table">
			    		<tr>
				    		<td>特殊攻撃</td>
				    		<td><select name="selectSpecialSkill" class="skillLv span2" id="selectSpecialSkill" ></select></td>
			    		</tr>
			    		<tr>
				    		<td>応急手当</td>
				    		<td><select name="selectTreatSkill" class="skillLv span2" id="selectTreatSkill" ></select></td>
			    		</tr>
			    		<tr>
				    		<td>情報技術</td>
				    		<td><select name="selectITSkill" class="skillLv span2" id="selectITSkill"></select></td>
						    {% for  knowledgeSkill in knowledgeSkills %}
				    		<tr><td>知識：{{knowledgeSkill.name}}</td><td>{{ knowledgeSkill.level }}</td></tr>
						    {% endfor %}
			    		</tr>
			    	</table>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="span3">
			    	<h4>機敏技能</h4>
			    	<table class="table">
			    		<tr>
				    		<td>運動</td>
				    		<td><select name="selectExerciseSkill" class="skillLv span2" id="selectExerciseSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>隠密</td>
				    		<td><select name="selectHideSkill" class="skillLv span2" id="selectHideSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>運転</td>
				    		<td><select name="selectDriveSkill" class="skillLv span2" id="selectDriveSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>操作</td>
				    		<td><select name="selectOperateSkill" class="skillLv span2" id="selectOperateSkill" ></select></td>
			    		</tr>
			    	</table>
		    	</div>
		    	<div class="span3">
			    	<h4>幸運技能</h4>
			    	<table class="table">
			    		<tr>
				    		<td>直感</td>
				    		<td><select name="selectIntuitionSkill" class="skillLv span2" id="selectIntuitionSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>賭博</td>
				    		<td><select name="selectGambleSkill" class="skillLv span2" id="selectGambleSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>交渉</td>
				    		<td><select name="selectNegotiateSkill" class="skillLv span2" id="selectNegotiateSkill" ></select></td>
			    		</tr>
			    		<tr>
				    		<td>社会</td>
				    		<td><select name="selectSociabilitySkill" class="skillLv span2" id="selectSociabilitySkill"></select></td>
			    		</tr>
			    	</table>
				</div>
		    	<div class="span3">
			    	<h4>精神技能</h4>
			    	<table class="table">
			    		<tr>
				    		<td>礼儀</td>
				    		<td><select name="selectJentleSkill" class="skillLv span2" id="selectJentleSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>統率</td>
				    		<td><select name="selectLeadingSkill" class="skillLv span2" id="selectLeadingSkill" ></select></td>
			    		</tr>
			    		<tr>
				    		<td>尋問</td>
				    		<td><select name="selectQuestionSkill" class="skillLv span2" id="selectQuestionSkill"></select></td>
			    		</tr>
			    		<tr>
				    		<td>魅了</td>
				    		<td><select name="selectCharmSkill" class="skillLv span2" id="selectCharmSkill" ></select></td>
			    		</tr>
			    	</table>
				</div>
		    </div>
   		    <div id="artskill">
	   		    <div class="row artrow">
					<div class="span1">芸術</div>
					<div class="span4">
						<div class="input-prepend">
		   					<span class="add-on">芸術：</span>
							<input name="prependedInputArt1" size="16" type="text">
	          			</div>
					</div>
					<div class="span1"><select name="selectArtSkill1" class="skillLv span1" id="selectArtSkill1"></select></div>
					<div class="span1"><span class="btn btn-success" id="addArtSkill">+</span></div>
	   		    </div>
   		    </div>
   		    <div id="knowledgeSkill">
	   		    <div class="row knowledgerow">
					<div class="span1">知識</div>
					<div class="span4">
						<div class="input-prepend">
		   					<span class="add-on">知識：</span>
							<input name="prependedInputKnowledge1" size="16" type="text">
	          			</div>
					</div>
					<div class="span1"><select name="selectKnowledgeSkill1" class="skillLv span1" id="selectKnowledgeSkill1"></select></div>
					<div class="span1"><span class="btn btn-success" id="addKnowledgeSkill">+</span></div>
	   		    </div>
   		    </div>
			<hr />
				
			<h3>その他</h3>
	    	<table class="table table-striped table-condensed">
    			<thead>
	      			<tr><th>項目</th><th>データ</th></tr>
        		</thead>
        		<tbody>
		    		<tr><td>通常時行動値</td><td id="normalActivity">{{ 0|add:sheet.agiOriginal|add:sheet.senOriginal|add:sheet.intOriginal }}</td></tr>
		    		<tr><td>悪魔化時行動値</td><td id="demonicActivity">{{ 0|add:sheet.agiOriginal|add:sheet.senOriginal|add:sheet.intOriginal|add:demonic.action }}</td></tr>
		    		<tr><td>通常エナジー</td><td id="normalEnergy">{{ 10|add:sheet.powOriginal|add:sheet.lucOriginal|add:sheet.senOriginal }}</td></tr>
		    		<tr><td>悪魔化時追加エナジー</td><td id="demonicEnergy">{{ demonic.energy }}</td></tr>
		    	</tbody>
	    	</table>
			<hr />

			<h3>所持品/特性</h3>
			<div>
		        <table class="table-condensed">
	        		<tbody>
					    <tr>
			        		<td><input type="checkbox" name="dustlicence" {{ sheet.dustlicence|checkHavingItem }}>隊員証</td>
			        		<td><input type="checkbox" name="dustcoat" {{ sheet.dustcoat|checkHavingItem }}>コート</td>
			        		<td><input type="checkbox" name="dustSeal" {{ sheet.dustSeal|checkHavingItem }}>封印装置</td>
			        		<td><input type="checkbox" name="dustAwake" {{ sheet.dustAwake|checkHavingItem }}>覚醒器</td>
			      		</tr>
			      		<tr>
			      			<td><input type="checkbox" name="resident" {{ sheet.resident|checkHavingItem }}>住居</td>
			      			<td><input type="checkbox" name="car" {{ sheet.car|checkHavingItem }}>自動車</td>
			      			<td><input type="checkbox" name="bike" {{ sheet.bike|checkHavingItem }}>自動二輪</td>
							<td><input type="checkbox" name="minibike" {{ sheet.minibike|checkHavingItem }}>原付</td>
							<td><input type="checkbox" name="byecycle" {{ sheet.byecycle|checkHavingItem }}>自転車</td>
			      		</tr>
			      		<tr>
							<td><input type="checkbox" name="mobile" {{ sheet.mobile|checkHavingItem }}>携帯電話</td>
							<td><input type="checkbox" name="bag" {{ sheet.bag|checkHavingItem }}>かばん</td>
							<td colspan="2"><input type="checkbox" name="pickingtool" {{ sheet.pickingtool|checkHavingItem }}>ピッキングツール</td>
			      		</tr>
	        		</tbody>
				</table>	
				<textarea class="itembox" name="itembox" rows="3" wrap="hard">{{ sheet.itembox }}</textarea>
			</div>
			<hr />
			
			<h3>経験点</h3>
			<div class="row">
				<div class="span4">
					<h4>残り経験点</h4>
					<input type="text" name="havingExPoint" id="havingExPoint" value="{{ sheet.experiencePoint}}"></input>
				</div>
				<div class="span4">
					<h4>消費経験点</h4>
					<input type="text" name="spendingExPoint" id="spendingExPoint" value="実装待ち"></input>
				</div>
			</div>
			<hr />
			

	    	<!-- next-->
        	<input type="hidden" name="page" value="confirm">
	        <input type="hidden" name="key" value="{{ sheet.key }}">
			<div class="well">
				<button type="submit" class="btn btn" name="command" value="reset">Reset</button>
				<button type="submit" class="btn btn-primary" name="command" value="OK">OK</button>
	 			<div class="pull-right">
					<button type="submit" class="btn btn" name="command" value="cancel">Cancel</button>
	 			</div>
	 			<div style="clear:both;"></div>
	 		</div>
			</fieldset>
			</form> 
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/parasiteweb.js"></script>
    <script type="text/javascript">
    	jQuery(function () {
			//メイン寄生体
		
			//サブ寄生体
			ParasiteWeb.makeParasiteSelectList("select#selectSubParasite",'動物')
				
			//能力値
			ParasiteWeb.makeOriginalSelectList('select#selectpow',{{ sheet.powOriginal}})
			ParasiteWeb.makeOriginalSelectList('select#selectagi',{{ sheet.agiOriginal}})
			ParasiteWeb.makeOriginalSelectList('select#selectsen',{{ sheet.senOriginal}})
			ParasiteWeb.makeOriginalSelectList('select#selectluc',{{ sheet.lucOriginal}})
			ParasiteWeb.makeOriginalSelectList('select#selectint',{{ sheet.intOriginal}})
			ParasiteWeb.makeOriginalSelectList('select#selectmnt',{{ sheet.mntOriginal}})

			//スキル
			//肉体
			ParasiteWeb.makeSkillLevelSelectList('select#selectPunchSkill', {{ sheet.bodySkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectPowerSkill', {{ sheet.powSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectClimeSkill', {{ sheet.climeSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectSwimSkill', {{ sheet.swimSkill }})
			//感覚
			ParasiteWeb.makeSkillLevelSelectList('select#selectShotSkill', {{ sheet.shotSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectComunicationSkill', {{ sheet.comunicationSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectNoticeSkill', {{ sheet.noticeSkill }})
			//知力
			ParasiteWeb.makeSkillLevelSelectList('select#selectSpecialSkill', {{ sheet.specialSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectTreatSkill', {{ sheet.treatSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectITSkill', {{ sheet.itSkill }})
			//俊敏
			ParasiteWeb.makeSkillLevelSelectList('select#selectExerciseSkill', {{ sheet.exerciseSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectHideSkill', {{ sheet.hideSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectDriveSkill', {{ sheet.driveSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectOperateSkill', {{ sheet.controlSkill }})
			//幸運
			ParasiteWeb.makeSkillLevelSelectList('select#selectIntuitionSkill', {{ sheet.intuitionSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectGambleSkill', {{ sheet.gambleSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectNegotiateSkill', {{ sheet.negotiateSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectSociabilitySkill', {{ sheet.sociabilitySkill }})
			//精神
			ParasiteWeb.makeSkillLevelSelectList('select#selectJentleSkill', {{ sheet.jentleSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectLeadingSkill', {{ sheet.leadingSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectQuestionSkill', {{ sheet.questionSkill }})
			ParasiteWeb.makeSkillLevelSelectList('select#selectCharmSkill', {{ sheet.charmSkill }})
	
			//可変個
			ParasiteWeb.makeSkillLevelSelectList('select#selectArtSkill1',0)
			ParasiteWeb.makeSkillLevelSelectList('select#selectKnowledgeSkill1',0)

			//artSkill追加ボタン
			$('#addArtSkill').click(function(){
				ParasiteWeb.addValiableSkills('artskill', 'artrow', 'selectArtSkill', '芸術')
			});
		
			//Skill追加ボタン
			$('#addKnowledgeSkill').click(function(){
				ParasiteWeb.addValiableSkills('knowledgeSkill', 'knowledgerow', 'selectKnowledgeSkill' ,'知識')
			});
			
    		//行動値
    		//$('#normalActivity').html(agi + feal + int);
    		//$('#demonicActivity').html(agi + feal + int + demonic.action);

			//エナジー
    		//$('#normalEnergy').html(10 + pow + luc + ment);
    		//$('#demonicEnergy').html(demonic.energy);
		});
    </script>
  </body>
</html>