<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaMake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/parasiteweb.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="/"><i class="icon-book"></i>Home</a></li>
              <li class="active"><a href="#"><i class="icon-pencil"></i>new</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9"><!-- キャラシート作成フォーム -->
	    <form method="post" class="form-horizontal">
          	<legend>確認画面</legend>
			
			<!-- 確認 -->
			<h3>パーソナリティ</h3>
			<table class="table table-striped table-condensed">
    			<thead>
	      			<tr><th>項目</th><th>設定</th></tr>
        		</thead>
        		<tbody>
				    <tr><td>名前</td><td>{{ sheet.name }}</td></tr>
				    <tr><td>年齢</td><td>{{ sheet.age }}</td></tr>
				    <tr><td>性別</td><td>{{ sheet.sex }}</td></tr>
				    <tr><td>種族</td><td>{{ sheet.species }}</td></tr>
				    <tr><td>寄生体</td><td>{{ sheet.parasite }}</td></tr>
				    <tr><td>職業</td><td>{{ sheet.job }}</td></tr>
				    <tr><td>生まれ</td><td>{{ sheet.Birth }}</td></tr>
				    <tr><td>人生経験</td><td>{{ sheet.Experience }}</td></tr>
				    <tr><td>寄生された理由</td><td>{{ sheet.CauseOfParasite }}</td></tr>
				    <tr><td>悪魔憑きとしての特徴</td><td>{{ sheet.Feature }}</td></tr>
				    <tr><td>悪魔寄生体への感情</td><td>{{ sheet.Feeling }}</td></tr>
				    <tr><td>戦う目的</td><td>{{ sheet.Purpose }}</td></tr>
				    <tr><td>悪魔化時の特異な外見</td><td>{{ sheet.Appearance }}</td></tr>
				    <tr><td>所属組織</td><td>{{ sheet.Organization }}</td></tr>
				    <tr><td>ヒーロースタンス</td><td>{{ sheet.Stance }}</td></tr>
        		</tbody>
			</table>
			<hr />
	
			<h3>能力</h3>
			<table class="table table-striped table-condensed">
    			<thead>
	      			<tr><th>能力値</th><th>肉体</th><th>俊敏</th><th>感覚</th><th>幸運</th><th>知力</th><th>精神</th></tr>
        		</thead>
        		<tbody>
				    <tr><td>元値</td><td>{{ sheet.powOriginal }}</td><td>{{ sheet.agiOriginal }}</td><td>{{ sheet.fealOriginal }}</td><td>{{ sheet.lucOriginal }}</td><td>{{ sheet.intOriginal }}</td><td>{{ sheet.mentOriginal }}</td></tr>
				    <tr><td>通常時</td><td id="normalPow"></td><td id="normalAgi"></td><td id="normalFeal"></td><td id="normalLuc"></td><td id="normalInt"></td><td id="normalMent"></td></tr>
				    <tr><td>悪魔化時</td><td id="demonicPow"></span></td><td id="demonicAgi"></td><td id="demonicFeal"></td><td id="demonicLuc"></td><td id="demonicInt"></td><td id="demonicMent"></td></tr>
        		</tbody>
			</table>
			<table class="table table-striped table-condensed">
    			<thead>
	      			<tr><th></th><th>肉体D</th><th>肉体防御力</th><th>射撃D</th><th>射撃防御力</th><th>特殊D</th><th>特殊防御力</th></tr>
        		</thead>
        		<tbody>
				    <tr><td>戦闘修正</td><td id="battleBodyAttack"></td><td id="battleBodyGuard"></td><td id="battleShotAttack"></td><td id="battleShotGuard"></td><td id="battleSpecialAttack"></td><td id="battleSpecialGuard"></td></tr>
        		</tbody>
			</table>

			<hr />
			
			<h3>技能</h3>
			    <div class="row">
			    	<div class="span3">
				    	<table class="table table-striped table-condensed">
			    			<thead>
				      			<tr><th>肉体技能</th><th>レベル</th></tr>
			        		</thead>
			        		<tbody>
					    		<tr><td>肉弾攻撃</td><td id="punchSkill"></td></tr>
					    		<tr><td>剛力</td><td id="powSkill"></td></tr>
					    		<tr><td>登攀</td><td id="climeSkill"></td></tr>
					    		<tr><td>水泳</td><td id="swimSkill"></td></tr>
					    	</tbody>
				    	</table>
			    	</div>
			    	<div class="span3">
				    	<table class="table table-striped table-condensed">
			    			<thead>
				      			<tr><th>感覚技能</th><th>レベル</th></tr>
			        		</thead>
			        		<tbody>
					    		<tr><td>射撃攻撃</td><td id="shotSkill"></td></tr>
					    		<tr><td>意思疎通</td><td id="comuSkill"></td></tr>
					    		<tr><td>知覚</td><td id="noticeSkill"></td></tr>
							    {% for artSkill in artSkills %}
					    		<tr><td>芸術：{{artSkill.name}}</td><td id="{{artSkill.name}}"></td></tr>
							    {% endfor %}
					    	</tbody>
				    	</table>
			    	</div>
			    	<div class="span3">
				    	<table class="table table-striped table-condensed">
			    			<thead>
				      			<tr><th>知力技能</th><th>レベル</th></tr>
			        		</thead>
			        		<tbody>
					    		<tr><td>特殊攻撃</td><td>{{ sheet.SpecialSkill }}</td></tr>
					    		<tr><td>応急手当</td><td>{{ sheet.TreatSkill }}</td></tr>
					    		<tr><td>情報技術</td><td>{{ sheet.ItSkill }}</td></tr>
							    {% for  knowledgeSkill in knowledgeSkills %}
					    		<tr><td>知識：{{knowledgeSkill.name}}</td><td>{{ knowledgeSkill.level }}</td></tr>
							    {% endfor %}
					    	</tbody>
				    	</table>
					</div>
			    </div>
			    <div class="row">
			    	<div class="span3">
				    	<table class="table table-striped table-condensed">
			    			<thead>
				      			<tr><th>機敏技能</th><th>レベル</th></tr>
			        		</thead>
			        		<tbody>
					    		<tr><td>運動</td><td>{{ sheet.exerSkill }}</td></tr>
					    		<tr><td>隠密</td><td>{{ sheet.hideSkill }}</td></tr>
					    		<tr><td>運転</td><td>{{ sheet.driveSkill }}</td></tr>
					    		<tr><td>操作</td><td>{{ sheet.controlSkill }}</td></tr>
					    	</tbody>
				    	</table>
			    	</div>
			    	<div class="span3">
				    	<table class="table table-striped table-condensed">
			    			<thead>
				      			<tr><th>幸運技能</th><th>レベル</th></tr>
			        		</thead>
			        		<tbody>
					    		<tr><td>直感</td><td>{{ sheet.IntuitionSkill }}</td></tr>
					    		<tr><td>賭博</td><td>{{ sheet.GambleSkill }}</td></tr>
					    		<tr><td>交渉</td><td>{{ sheet.NegotiateSkill }}</td></tr>
					    		<tr><td>社会</td><td>{{ sheet.SociabilitySkill }}</td></tr>
					    	</tbody>
				    	</table>
					</div>
			    	<div class="span3">
				    	<table class="table table-striped table-condensed">
			    			<thead>
				      			<tr><th>精神技能</th><th>レベル</th></tr>
			        		</thead>
			        		<tbody>
					    		<tr><td>礼儀</td><td>{{ sheet.JentleSkill }}</td></tr>
					    		<tr><td>統率</td><td>{{ sheet.LeadingSkill }}</td></tr>
					    		<tr><td>尋問</td><td>{{ sheet.QuestionSkill }}</td></tr>
					    		<tr><td>魅了</td><td>{{ sheet.CharmSkill }}</td></tr>
					    	</tbody>
				    	</table>
					</div>
			    </div>
				<hr />
				
				<h3>その他</h3>
		    	<table class="table table-striped table-condensed">
	    			<thead>
		      			<tr><th>項目</th><th>データ</th></tr>
	        		</thead>
	        		<tbody>
			    		<tr><td>通常時行動値</td><td id="normalActivity"></td></tr>
			    		<tr><td>悪魔化時行動値(行動修正)</td><td id="demonicActivity"></td></tr>
			    		<tr><td>通常エナジー</td><td id="normalEnergy"></td></tr>
			    		<tr><td>悪魔化時追加エナジー</td><td id="demonicEnergy"></td></tr>
			    		<tr><td>衝動最大値</td><td id="urge"></td></tr>
			    	</tbody>
		    	</table>
				<hr />
	
				<h3>所持品/特性</h3>
				<div>
			        <table class="table-condensed">
		        		<tbody>
						    <tr>
				        		<td><input type="checkbox" name="dustlicence" value="DUST隊員証" checked="true" disabled="true">隊員証</td>
				        		<td><input type="checkbox" name="dustcoat" value="DUSTコート" checked="true" disabled="true">コート</td>
				        		<td><input type="checkbox" name="dustSeal" value="DUST封印装置" checked="true" disabled="true">封印装置</td>
				        		<td><input type="checkbox" name="dustAwake" value="DUST覚醒器" checked="true" disabled="true">覚醒器</td>
				      		</tr>
				      		<tr>
				      			<td><input type="checkbox" name="resident" value="住居">住居</td>
				      			<td><input type="checkbox" name="car" value="自動車">自動車</td>
				      			<td><input type="checkbox" name="bike" value="自動二輪">自動二輪</td>
								<td><input type="checkbox" name="minibike" value="原付">原付</td>
								<td><input type="checkbox" name="byecycle" value="自転車">自転車</td>
				      		</tr>
				      		<tr>
								<td><input type="checkbox" name="mobile" value="携帯電話">携帯電話</td>
								<td><input type="checkbox" name="bag" value="かばん">かばん</td>
								<td colspan="2"><input type="checkbox" name="pickingtool" value="ピッキングツール">ピッキングツール</td>
				      		</tr>
		        		</tbody>
					</table>	
					<textarea class="itembox" name="itembox" rows="3" wrap="hard" value="test" disabled="true">test</textarea>
				</div>
				<hr />
				
			    <fieldset>
		    	<!-- next-->
	        	<input type="hidden" name="page" value="confirm">
		        <input type="hidden" name="key" value="{{ sheet.key }}">
				<div class="well">
					<button type="submit" class="btn btn" name="command" value="back">Back</button>
					<button type="submit" class="btn btn-primary" name="command" value="next">OK</button>
		 			<div class="pull-right">
						<button type="submit" class="btn btn" name="command" value="cancel">Cancel</button>
		 			</div>
		 			<div style="clear:both;"></div>
		 		</div>
			</fieldset>
			</form> 
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/parasiteweb_db.js"></script>
    <script type="text/javascript">
    	jQuery(function () {
    		//元値
    		powOriginal = {{ sheet.powOriginal }};
    		agiOriginal = {{ sheet.agiOriginal }};
    		fealOriginal = {{sheet.fealOriginal }};
    		lucOriginal = {{sheet.lucOriginal }};
    		intOriginal = {{sheet.intOriginal }};
    		mentOriginal = {{sheet.mentOriginal }};

    		//能力値
    		var pow = Math.floor(powOriginal / 3);
			var agi = Math.floor(agiOriginal / 3);
			var feal = Math.floor(fealOriginal / 3);
			var luc = Math.floor(lucOriginal/ 3);
			var int = Math.floor(intOriginal/ 3);
			var ment = Math.floor(mentOriginal / 3);
			
    		$('#normalPow').html(pow);
    		$('#normalAgi').html(agi);
    		$('#normalFeal').html(feal);
    		$('#normalLuc').html(luc);
    		$('#normalInt').html(int);
    		$('#normalMent').html(ment);
    		
    		//悪魔化時能力値
    		var demonic = jabelinData[0];
    		$('#demonicPow').html(pow + demonic.status[0]);
    		$('#demonicAgi').html(agi + demonic.status[1]);
    		$('#demonicFeal').html(feal + demonic.status[2]);
    		$('#demonicLuc').html(luc + demonic.status[3]);
    		$('#demonicInt').html(int + demonic.status[4]);
    		$('#demonicMent').html(ment + demonic.status[5]);
    		
    		//戦闘修正
    		$('#battleBodyAttack').html(demonic.battle[0]);
    		$('#battleBodyGuard').html(demonic.battle[1]);
    		$('#battleShotAttack').html(demonic.battle[2]);
    		$('#battleShotGuard').html(demonic.battle[3]);
    		$('#battleSpecialAttack').html(demonic.battle[4]);
    		$('#battleSpecialGuard').html(demonic.battle[5]);
    		
    		//技能
    		var skillLevel = {
    			"0":"--",
    			"5":"初級",
    			"10":"中級",
    			"15":"上級"
    		};
    		//肉体
    		$('#punchSkill').html(skillLevel[{{ sheet.PunchSkill }}]);
			$('#powSkill').html(skillLevel[{{ sheet.powSkill }}]);
			$('#climeSkill').html(skillLevel[{{ sheet.climeSkill }}]);
			$('#swimSkill').html(skillLevel[{{ sheet.swimSkill }}]);
			//感覚
    		$('#shotSkill').html(skillLevel[{{ sheet.shotSkill }}]);
    		$('#comuSkill').html(skillLevel[{{ sheet.comuSkill }}]);
    		$('#noticeSkill').html(skillLevel[{{ sheet.noticeSkill }}]);
/*
		    {% for artSkill in artSkills %}
		    $('#{{artSkill.name}}').html(skillLevel[{{ sheet.level }}]);
		    {% endfor %}
*/
		    //知力
    		$('#shotSkill').html(skillLevel[{{ sheet.shotSkill }}]);
    		$('#comuSkill').html(skillLevel[{{ sheet.comuSkill }}]);
    		$('#noticeSkill').html(skillLevel[{{ sheet.noticeSkill }}]);
/*
		    {% for artSkill in artSkills %}
		    $('#{{artSkill.name}}').html(skillLevel[{{ sheet.level }}]);
		    {% endfor %}
*/
		    //機敏
		    //幸運
		    //精神

    		//行動値
    		$('#normalActivity').html(agi + feal + int);
    		$('#demonicActivity').html(agi + feal + int + demonic.action);

			//エナジー
    		$('#normalEnergy').html(10 + pow + luc + ment);
    		$('#demonicEnergy').html(demonic.energy);
    		
    		//最大衝動
    		var plus = 0;
    		if(powOriginal <= 5){ plus += 1; }
    		if(powOriginal <= 2){ plus += 1; }
    		if(agiOriginal <= 5){ plus += 1; }
    		if(agiOriginal <= 2){ plus += 1; }
    		if(fealOriginal <= 5){ plus += 1; }
    		if(fealOriginal <= 2){ plus += 1; }
    		if(lucOriginal <= 5){ plus += 1; }
    		if(lucOriginal <= 2){ plus += 1; }
    		if(intOriginal <= 5){ plus += 1; }
    		if(intOriginal <= 2){ plus += 1; }
    		if(mentOriginal <= 5){ plus += 1; }
    		if(mentOriginal <= 2){ plus += 1; }
    		$('#urge').html(15 + plus);
		});
	</script>
    
    <!-- 
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
	 -->
  </body>
</html>