<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaMake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="/"><i class="icon-book"></i>Home</a></li>
              <li class="active"><a href="#"><i class="icon-pencil"></i>new</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
       	    <form method="post" class="form-horizontal">
          	<legend>キャラクター作成フォーム</legend>
		    <div class="row">
		    	<div class="span3">
			    	<div style="text-align:center;">肉体技能</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">肉弾攻撃</div>
						<div class="span1"><select name="selectPunchSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">剛力</div>
						<div class="span1"><select name="selectPowerSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">登攀</div>
						<div class="span1"><select name="selectClimeSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">水泳</div>
						<div class="span1"><select name="selectSwimSkill" class="skillLv span1"></select></div>
					</div>
		    	</div>
		    	<div class="span3">
			    	<div style="text-align:center;">機敏技能</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">運動</div>
						<div class="span1"><select name="selectExerciseSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">隠密</div>
						<div class="span1"><select name="selectHideSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">運転</div>
						<div class="span1"><select name="selectDriveSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">操作</div>
						<div class="span1"><select name="selectOperateSkill" class="skillLv span1"></select></div>
					</div>
		    	</div>
		    	<div class="span3">
			    	<div style="text-align:center;">感覚技能</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">射撃攻撃</div>
						<div class="span1"><select name="selectShotSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">意思疎通</div>
						<div class="span1"><select name="selectComunicationSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">知覚</div>
						<div class="span1"><select name="selectNoticeSkill" class="skillLv span1"></select></div>
					</div>
				</div>
		    </div>
		    <div class="row">
		    	<div class="span3">
			    	<div style="text-align:center;">幸運技能</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">直感</div>
						<div class="span1"><select name="selectIntuitionSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">賭博</div>
						<div class="span1"><select name="selectGambleSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">交渉</div>
						<div class="span1"><select name="selectNegotiateSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">社会</div>
						<div class="span1"><select name="selectSociabilitySkill" class="skillLv span1"></select></div>
					</div>
		    	</div>
		    	<div class="span3">
			    	<div style="text-align:center;">知力技能</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">特殊攻撃</div>
						<div class="span1"><select name="selectSpecialSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">応急手当</div>
						<div class="span1"><select name="selectTreatSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">情報技術</div>
						<div class="span1"><select name="selectITSkill" class="skillLv span1"></select></div>
					</div>
		    	</div>
		    	<div class="span3">
			    	<div style="text-align:center;">精神技能</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">礼儀</div>
						<div class="span1"><select name="selectJentleSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">統率</div>
						<div class="span1"><select name="selectLeadingSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">尋問</div>
						<div class="span1"><select name="selectQuestionSkill" class="skillLv span1"></select></div>
					</div>
				    <div class="row">
						<div class="span2"  style="text-align:center;">魅了</div>
						<div class="span1"><select name="selectCharmSkill" class="skillLv span1"></select></div>
					</div>
				</div>
		    </div>
   		    <div id="artskill">
	   		    <div class="row">
					<div class="span2" style="text-align:center;">芸術</div>
					<div class="span4">
						<div class="input-prepend">
		   					<span class="add-on">芸術：</span>
							<input name="prependedInputArt1" size="16" type="text">
	          			</div>
					</div>
					<div class="span1"><select name="selectArtSkill1" class="skillLv span1"></select></div>
					<div class="span1"><span class="btn btn-success" id="addArtSkillAdd">+</span></div>
	   		    </div>
   		    </div>
   		    <div id="knowledgeSkill">
	   		    <div class="row">
					<div class="span2" style="text-align:center;">知識</div>
					<div class="span4">
						<div class="input-prepend">
		   					<span class="add-on">知識：</span>
							<input name="prependedInputKnowledge1" size="16" type="text">
	          			</div>
					</div>
					<div class="span1"><select name="selectKnowledgeSkill1" class="skillLv span1"></select></div>
					<div class="span1"><span class="btn btn-success" id="addKnowledgeSkill">+</span></div>
	   		    </div>
   		    </div>

        	<input type="hidden" name="page" value="skill">
	        <input type="hidden" name="key" value="{{ sheet.key }}">
	        <!-- next-->
			<div class="form-actions">
				<button type="submit" class="btn btn" name="command" value="back" disabled="true">Back</button>
				<button type="submit" class="btn btn-primary" name="command" value="next">Next</button>
	 			<div class="pull-right">
					<button type="submit" class="btn btn" name="command" value="cancel">Cancel</button>
	 			</div>
	 			<div style="clear:both;"></div>
	 		</div>
			</fieldset>
			</form> 
      	</div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/charamake.js"></script>
    <script type="text/javascript" src="../static/js/charamake.js"></script>
    
    <!-- 
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
	 -->
  </body>
</html>