<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaMake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/parasiteweb.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="/"><i class="icon-book"></i>Home</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8"><!-- キャラシート作成フォーム -->
	    <form method="post" class="form-horizontal">
   	    <fieldset>
	       	<legend>キャラクター作成フォーム</legend>
	      	<ul class="nav nav-pills">
				<li><div>１</div></li>
				<li><div>2</div></li>
				<li class="active"><div>3</div></li>
			</ul>
			<div class="control-group">
				<label class="control-label" for="selectspecies">生まれ</label>
				<div class="controls">
					<select name="selectBirth" id="selectBirth" class="personal span1"></select>
					<input type="text" class="input-xlarge" name="inputBirth" id="inputBirth">
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="selectspecies">人生経験</label>
				<div class="controls">
					<select name="selectExperience" id="selectExperience" class="personal span1"></select>
					<input type="text" class="input-xlarge" name="inputExperience" id="inputExperience">
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="selectspecies">寄生された理由</label>
				<div class="controls">
					<select name="selectCauseOfParasite" id="selectCauseOfParasite" class="personal span1 selectPersonal"></select>
					<input type="text" class="input-xlarge" name="inputCauseOfParasite"  id="inputCauseOfParasite">
				</div>
			</div>
		
			<div class="control-group">
				<label class="control-label" for="selectspecies">"悪魔憑き"としての特徴</label>
				<div class="controls">
					<select name="selectFeature" id="selectFeature" class="personal span1"></select>
					<input type="text" class="input-xlarge" name="inputFeature" id="inputFeature">
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="selectspecies">"悪魔寄生体"への感情</label>
				<div class="controls">
					<select name="selectFeeling" id="selectFeeling" class="personal span1"></select>
					<input type="text" class="input-xlarge" name="inputFeeling" id="inputFeeling">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="selectspecies">戦う目的</label>
				<div class="controls">
					<select name="selectPurpose" id="selectPurpose" class="personal span1"></select>
					<input type="text" class="input-xlarge" name="inputPurpose" id="inputPurpose">
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="selectspecies">特異な外見</label>
				<div class="controls">
					<select name="selectAppearance" id="selectAppearance" class="personal span1"></select>
					<input type="text" class="input-xlarge" name="inputAppearance" id="inputAppearance">
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
		    		<div class="btn btn-inverse" id="rolePersonal">一括ロール</div>
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="selectStance">ヒーロースタンス</label>
				<div class="controls">
    				<select name="selectStance" class="span2" id="selectStance">
					</select>
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="selectOrganization">所属組織</label>
				<div class="controls">
					<select name="selectOrganization" class="span2" id="selectOrganization"></select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="selectOrganization">所持品</label>
				<div class="controls">
			        <table class="table-condensed">
		        		<tbody>
						    <tr>
				        		<td><input type="checkbox" name="dustlicence" value="DUST隊員証">隊員証</td>
				        		<td><input type="checkbox" name="dustcoat" value="DUSTコート">コート</td>
				        		<td><input type="checkbox" name="dustSeal" value="DUST封印装置">封印装置</td>
				        		<td><input type="checkbox" name="dustAwake" value="DUST覚醒器">覚醒器</td>
				      		</tr>
				      		<tr>
				      			<td><input type="checkbox" name="resident" value="住居">住居</td>
				      			<td><input type="checkbox" name="car" value="自動車">自動車</td>
				      			<td><input type="checkbox" name="bike" value="自動二輪">自動二輪</td>
								<td><input type="checkbox" name="minibike" value="原付">原付</td>
								<td><input type="checkbox" name="byecycle" value="自転車">自転車</td>
				      		</tr>
				      		<tr>
								<td><input type="checkbox" name="mobile" value="携帯電話">携帯電話</td>
								<td><input type="checkbox" name="bag" value="かばん">かばん</td>
								<td colspan="2"><input type="checkbox" name="pickingtool" value="ピッキングツール">ピッキングツール</td>
				      		</tr>
		        		</tbody>
					</table>	
					<textarea class="itembox" name="itembox" rows="3" wrap="hard"></textarea>
				</div>
			</div>

	       	<input type="hidden" name="key" value="{{ sheet.key }}">
	    	<!-- next-->
			<div class="form-actions">
				<button type="submit" class="btn btn" name="to" value="{{ back }}" onclick="distinct_button('back')">Back</button>
				<button type="submit" class="btn btn-primary" name="to" value="{{ next }}" onclick="distinct_button('next')">Next</button>
				<div class="pull-right">
					<button type="submit" class="btn btn" name="command" value="cancel" onclick="distinct_button('cancel')">Cancel</button>
				</div>
				<div style="clear:both;"></div>
			</div>
		</fieldset>
		</form> 
      	</div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/jquery.validation.functions.js"></script>
    <script type="text/javascript" src="/js/parasiteweb.js"></script>
    <script type="text/javascript" src="/js/charamake_personal.js"></script>
  </body>
</html>