<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaMake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/parasiteweb.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="/"><i class="icon-book"></i>Home</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8"><!-- キャラシート作成フォーム -->
	    <form method="post" class="form-horizontal">
	    <fieldset>
          	<legend>キャラクター作成フォーム</legend>
          	<ul class="nav nav-pills">
				<li class="active"><div>１</div></li>
				<li><div>2</div></li>
				<li><div>3</div></li>
			</ul>
          	<!-- 名前、年齢、性別 -->
          	<div class="control-group">
	            <label class="control-label" for="inputCharaName">キャラクター名</label>
				<div class="controls">
		    		<input type="text" class="input-xlarge" name="name" id="inputCharaName" placeholder='Choose a character name'/>
	    		</div>
           	</div>
       		<div class="control-group">
        		<label class="control-label" for="inputCharaAge">年齢</label>
        		<div class="controls">
	        		<input type="text" class="input-xlarge" name="age" id="inputCharaAge" placeholder='Choose an age of character'>
        		</div>
        	</div>
      		<div class="control-group">
                <label class="control-label" for="optionsCharaSex">性別</label>
        		<div class="controls">
        			<div id="optionsCharaSex">
						<input type="radio" name="sex" value="male">男性
						<input type="radio" name="sex" value="female">女性
						<input type="radio" name="sex" value="unknown">その他
					</div>
        		</div>
        	</div>
			<div class="control-group">
				<label class="control-label" for="selectspecies">種族</label>
				<div class="controls">
					<select name="species" id="selectspecies">
					<option value="0">--</option>
					<option>人間</option>
					<option>動物</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="selectParasite">寄生体</label>
				<div class="controls">
					<select name="parasite" id="selectParasite">
					<option value="0">--</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="selectJob">職業</label>
				<div class="controls">
					<select name="job" id="selectJob">
						<option value="0">--</option>
					</select>
				</div>
			</div>

	       	<input type="hidden" name="key" value="{{ sheet.key }}">
	    	<!-- next-->
				<div class="form-actions">
					<button type="submit" class="btn btn" name="to" value="{{ back }}" onclick="distinct_button('back')">Back</button>
					<button type="submit" class="btn btn-primary" name="to" value="{{ next }}" onclick="distinct_button('next')">Next</button>
					<div class="pull-right">
						<button type="submit" class="btn btn" name="command" value="cancel" onclick="distinct_button('cancel')">Cancel</button>
					</div>
					<div style="clear:both;"></div>
				</div>
	 			<div style="clear:both;"></div>
	 		</div>
		</fieldset>
		</form> 
      	</div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/jquery.validation.functions.js"></script>
    <script type="text/javascript" src="/js/parasiteweb.js"></script>
    <script type="text/javascript" src="/js/charamake_base.js"></script>

  </body>
</html>