<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ParaBloWeb, charaMake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Parasite Web!</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">Chara</a></li>
              <li><a href="#">GM</a></li>
              <li><a href="#">PL</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><a href="/"><i class="icon-book"></i>Home</a></li>
              <li class="active"><a href="#"><i class="icon-pencil"></i>new</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9"><!-- キャラシート作成フォーム -->
	    <form method="post" class="form-horizontal">
       	<legend>キャラクター作成(パーソナリティ)</legend>
	    <div class="row">
			<div class="span3" style="text-align:center;">生まれ</div>
			<div class="span1"><select name="selectBirth" class="personal span1"></select></div>
			<div class="span4"><input type="text" class="input-xlarge" name="inputBirth"></div>
		</div>
	    <div class="row">
			<div class="span6 offset3 help-block">d66で決定。ダイスが無い場合は<span id="roleBirth">ここをクリック</span></div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">人生経験</div>
			<div class="span1"><select name="selectExperience" class="personal span1"></select></div>
			<div class="span4"><input type="text" class="input-xlarge" name="inputExperience"></div>
		</div>
	    <div class="row">
			<div class="span6 offset3 help-block">d66で決定。ダイスが無い場合は<span id="roleExperience">ここをクリック</span></div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">寄生された理由</div>
			<div class="span1"><select name="selectCauseOfParasite" class="personal span1"></select></div>
			<div class="span4"><input type="text" class="input-xlarge" name="inputCauseOfParasite"></div>
		</div>
	    <div class="row">
			<div class="span6 offset3 help-block">d66で決定。ダイスが無い場合は<span id="roleCauseOfParasite">ここをクリック</span></div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">"悪魔憑き"としての特徴</div>
			<div class="span1"><select name="selectFeature" class="personal span1"></select></div>
			<div class="span4"><input type="text" class="input-xlarge" name="inputFeature"></div>
		</div>
	    <div class="row">
			<div class="span6 offset3 help-block">d66で決定。ダイスが無い場合は<span id="roleFeature">ここをクリック</span></div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">"悪魔寄生体"への感情</div>
			<div class="span1"><select name="selectFeeling" class="personal span1"></select></div>
			<div class="span4"><input type="text" class="input-xlarge" name="inputFeeling"></div>
		</div>
	    <div class="row">
			<div class="span6 offset3 help-block">d66で決定。ダイスが無い場合は<span id="roleFeeling">ここをクリック</span></div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">戦う目的</div>
			<div class="span1"><select name="selectPurpose" class="personal span1"></select></div>
			<div class="span4"><input type="text" class="input-xlarge" name="inputPurpose"></div>
		</div>
	    <div class="row">
			<div class="span6 offset3 help-block">d66で決定。ダイスが無い場合は<span id="rolePurpose">ここをクリック</span></div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">特異な外見</div>
			<div class="span1"><select name="selectAppearance" class="personal span1"></select></div>
			<div class="span4"><input type="text" class="input-xlarge" name="inputAppearance"></div>
		</div>
	    <div class="row">
			<div class="span6 offset3 help-block">d66で決定。ダイスが無い場合は<span id="roleAppearance">ここをクリック</span></div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">ヒーロースタンス</div>
			<div class="span3">
    				<select name="selectStance" class="span2">
    				<option>--</option>
    				<option>トゥルーヒーロー</option>
    				<option>イモータルヒーロー</option>
    				<option>ガーディアンヒーロー</option>
    				<option>ダークヒーロー</option>
    				<option>クレバーヒーロー</option>
					</select>
			</div>
		</div>

	    <div class="row">
			<div class="span3" style="text-align:center;">所属組織</div>
			<div class="span3">
				<select name="selectOrganization" class="span2">
    				<option>--</option>
    				<option>DUST</option>
    				<option>セラフィム</option>
    				<option>フリーランス</option>
				</select>
			</div>
		</div>

    	<!-- next-->
		<div class="form-actions">
			<div class="pull-right">
				<button type="submit" class="btn btn-primary">Next</button>
			</div>
 			<div style="clear:both;"></div>
 		</div>
		</form> 
      	</div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/charamake.js"></script>
    <script type="text/javascript" src="../static/js/charamake.js"></script>
    
    <!-- 
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
	 -->
  </body>
</html>